*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

body {
    --twitter-color: #50b7f5;
    --twitter-background: #2f3336;

    background: #000000;
}

.app::-webkit-scrollbar {
    width: 0;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.app {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    overflow-x: hidden;
}
