.tweetBox {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--twitter-background);
    padding-right: 10px;
}
.tweetBox > form {
    display: flex;
    flex-direction: column;
}
.tweetBox_input {
    padding: 20px;
    display: flex;
}

.tweetBox_input > input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    background-color: black;
    color: #6e767d;
    border: none;
    outline: none;
}
.tweetBox_imageInput {
    border: none;
    padding: 10px;
}
.tweetbox_tweetButton {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    align-self: flex-end;
    padding: 10rem;
    /* width: 90px;
    height: 50px !important;
    margin-top: 20px !important;
    margin-left: auto !important; */
}
@media screen and (max-width: 500px) {
    .tweetBox_input {
        padding: 1rem;
    }
    .tweetbox_tweetButton {
        background-color: var(--twitter-color) !important;
        border: none !important;
        color: white !important;
        font-weight: 900 !important;
        text-transform: inherit !important;
        border-radius: 30px !important;
        align-self: flex-end;
        padding: 5rem;
        /* width: 90px;
        height: 50px !important;
        margin-top: 20px !important;
        margin-left: auto !important; */
    }
    .tweetBox_input > input {
        flex: 1;
        margin-left: 10px;
        font-size: 10px;
        background-color: black;
        color: #6e767d;
        border: none;
        outline: none;
    }
}
